torch
torchaudio
numpy
pyyaml
python-dotenv
librosa
soundfile
pydub
livekit
livekit-agents
livekit-plugins-deepgram
safetensors
huggingface-hub
transformers
einops
open_clip_torch
asyncio
typing-extensions